header{
  .header_container{
    height: 40px;
    width: 100%;
    background-color: black;
  }

    .header-top{
      width: 80%;
      margin: 0 auto;
    }

      img{
        height: 40px;
        background-color: black;
        color: black;
      }
}
