main{
  .cd_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
  }

    .cd_box{
      width: 230px;
      height: 325px;
      overflow: hidden;
      margin-bottom: 30px;
      padding: 15px;
      text-align: center;
      color: white;
      background-color: black;
      border-radius: 5px;
    }

      .cover img{
        width: 100%;
        height: 100%;
      }

      .box_text h3{
        margin: 5px;
      }
}
